@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-app-black;
  }
}

@layer utilities {
  .fade {
    transition-duration: 0, 200ms;
    transition-property: visibility, opacity;
    transition-delay: 0;
  }

  .invisible {
    visibility: hidden;
    opacity: 0;
    transition-duration: 200ms, 0;
    transition-property: opacity, visibility;
    transition-delay: 0, 200ms;
  }
}
